body {
    font-family: Helvetica Neue, Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #1dcfee, #ca4c4c);
    color: white;
    padding: 20px;
    box-shadow: 0 3px 4px grey;
    
}

.home-image {
    background: url(images/home-images.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    position: relative;
}
  
.home-text {
    text-shadow: 0 3px 4px black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 40px;
}

section {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 20px;
    text-align: left;
}

img {
    width: 100px;
    height: auto;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    border: 1px solid lightgrey;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-items img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

footer {
    background-color: #1dcfee;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.social-box {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-box img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.social-box p {
    margin: 0;
    font-weight: bold;
}

#login-section {
    background: rgb(115, 240, 213);
    padding: 40px;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c91616;
    border-radius: 4px;
}

a {
    color: rgb(72, 128, 201);
}
